.HeroBox {
  background-color: red;
  border: 2px solid blue;
  border-radius: 28px;
}
.HeroSec {
  background-color:green;
  border: 2px solid black;
  border-radius: 28px;
}
.TITLE {
  text-align:center;
  color:red;
  font-size: 35;
  border: 2px solid red;
}
.imgbox {
  border:2px solid white;
  width: 80px;
}
.HeroText {
  border: 2px solid blue;
  color: black;
  font-size: 20;
}
.userimage {
  width: 80;
  height: 80;
}
.oTitlenav {
  display:inline;
  background-color:green;
  border:2px solid white;
}
.oTitleMain {
  color:green;
  border: 2px solid white;
  border-radius:14px;
}
.oSecInfo {
  background-color:black;
  border-radius: 10px;
}
.oNavA {
  text-decoration:none;
  list-style:none;
  border:2px solid red;
}
