.POST_BOX {
  background-color: blue;
  border-radius: 14px;
}
.POST {
  background-color: green;
  border: 2px solid white;
  border-color: red;
}
.TITLE {
  color:#9500bf;
}
.ptext {
  font-size: 25px solid white;
}
.navv {
  display: inline;
  text-decoration: none;
  color: green;
}
.info {
   border: 4px solid white;
   border-radius: 14px;
   background-color: black;
}
.wtext {
  color:white; 
}
.gtext {
  color:green;
}
