.POST_BOX {
  background-color: blue;
}
.POST {
  background-color: green;
  border: 2px solid white;
  border-color: red;
}
.TITLE {
  color:#9500bf;
}
.ptext {
  font-size: 25px solid white;
}
.navv {
  display: inline;
  text-decoration: none;
  color: green;
}
