.section_main {
    background-color: "black"
    }
.list_element:hover {
    font-style: "System";
    font-size: 42;
}
.list_element {
    display:inline;
    font-size:42;
    border:2px solid red;
}
.no_a {
    text-decoration: none;
}
